*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #0f172a;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
}
nav{
    height: 92px;
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: bisque;
}
.navbar .header-logo{
    width: 139px;
    height: 60px;

}
.navbar .btn-primary{
    padding: 10px 18px;
    border-radius:5px;
    border: none;
   background-color:#469165;
   color: white;
   font-size: 20px;
   cursor: pointer;
    
}
nav .menu {
    display: flex;
    list-style-type: none;
    gap:20px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 0px 260px 0px 0px;
}
.hero{
    height: 674px;
    width: 1600px;
    background-color: #0f172a;
    padding: 0 auto;
    
    
}
.hero .hero-content .image{
    height: 674px;
    width: 1600px;
}